# iPython Notebook
**/venv/
.env
**/.ipynb_checkpoints/


# Haskell ( from gitignore )
dist
cabal-dev
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
.stack-work/

# ( custom )
*.out
*.hs~
